* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  /* variaveis */
  --bg-color: #EDF2FF;
  --text-color: #0A1F1D;
  --primary-color: #4dccc6;
  --primary-color-dark: #89d8d3;
}

body.dark-green {
  --bg-color: #0E7169;
  --text-color: #FFFF;
}

body.pink {
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #A61E4D;
  --primary-color-dark: #D6336C;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  transition: background 0.2s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #0E7169;
}

.fa-sun {
  color: #4dccc6;
}

.container {
  text-align: center;
  width: 300px;
  margin: 15px auto;
  }

img {
  width: 100%;
  }

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color-dark) solid 4px;
   }

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

i {
  margin-right: 5px;
}

ul {
  list-style: none;
  margin: 48px 0;;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color-dark);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
    
  margin-bottom: 16px;
  border-radius: 6px;
  
  transition: background 300ms;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

/* pseudo-class */
ul li a:hover {
  background: var(--primary-color);
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
  letter-spacing: 2px;
  transition: 0.5s;
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 300ms;
}

footer:hover {
  opacity: 1;
}

footer a{
  color: var(--text-color);
}